name: CI/CD - Nest Transactions

on:
  push:
    branches:
      - main

jobs:
  test:
    name: 游빍 Rodar testes unit치rios + e2e
    runs-on: ubuntu-latest

    steps:
      - name: 游 Checkout do c칩digo
        uses: actions/checkout@v3

      - name: 游닍 Instalar depend칡ncias
        run: yarn install --frozen-lockfile

      - name: 游빍 Rodar testes unit치rios
        run: yarn test

      - name: 游빍 Rodar testes E2E
        run: yarn test:e2e

  deploy:
    if: false
    name: 游 Deploy em produ칞칚o
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: 游 Checkout do c칩digo
        uses: actions/checkout@v3

      - name: 游댏 Configurar SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          port: 22
          script: |
            cd /caminho/do/projeto/no/servidor
            git pull origin main
            ./deploy.sh
